.banactu{
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -5;
    
}

.liste_evenements{
    width: 100%;
    margin: 5% 0;
}

.titre_evenements{
    font-family: Indie Flower;
    text-shadow: #1D1C19 5px 1px 5px;
    color: black;
    text-transform: uppercase;
}

article{
    
    margin: 20px 10%;
    border-top: 1px solid grey;
    min-height: 250px;
    background-color: rgb(216, 222, 228);
    border-bottom: 1px solid grey;
}

.gauche{
    width: 60%;
    margin: auto;
    text-align: center;
}

.droite{
    
    width: auto;
    max-width: 200px;
    margin: auto;
    padding: 1%;  
    
}

.droite img{
    width: 100%;
    min-height: auto;
    max-height: 200px;

}

.evenements {
    font-size: 2.5em;
    text-transform:uppercase;
    color: white;
    padding: 20px;
    font-family: "Martel Sans", sans-serif;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    line-height: 1;
    padding: 12px 0px 6px 0px;
    margin: 30px 0px;
    
}

.banniere_animee{
    width: 100%;
}


 .bouton_droit{
    position: absolute;
    top: 35%;
    right: 1%;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #FFF;
    background-color: #98d865;
    border-radius: 29px;
    border: 4px solid #f2f2f4;
    box-shadow: 5px 1px 8px #444444;
    font-size: 25px;
 }

 .bouton_droit:hover{
     background-color: #92cddc;
     border: 4px solid #b7dde8;
     box-shadow: 1px 2px 4px #777;
 }

.bouton_gauche{
    position: absolute;
    top: 35%;
    left: 1%;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #FFF;
    background-color: #98d865;
    border-radius: 29px;
    border: 4px solid #f2f2f4;
    box-shadow: 5px 1px 8px #444444;
    font-size: 25px;
}

.bouton_gauche:hover{
    background-color: #92cddc;
     border: 4px solid #b7dde8;
     box-shadow: 1px 2px 4px #777;
}
.images_cachees {
    display:none;
}