.carte {
    float:right;
    margin-right: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
}
  

.banniere_contact {
    
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -5;
 
     
}

.banniere_contact img{
   width: 100%;
   
    
}

.formulaire {
    z-index: 1;
    
    padding-bottom: 100px;
    font-size: 14px;
    margin: 5% 5% 0% 5%;
}

#envoyez {
    text-transform: uppercase;
}

.contact {
   
    font-size: 2.5em;
    text-transform:uppercase;
    color: white;
    padding:20px;
    font-family: "Martel Sans", sans-serif;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    line-height: 1;
    padding: 12px 0px 6px 0px;
    margin: 30px 0px;
}

.envoyercss {
    background-color: #98d865;
    color: #ffffff;
    font-family: 'Martel Sans';
    font-size: 13px;
    line-height: 1;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
}

.taille_zone {
    resize:none;
}