/*mis en forme pour la banniere*/
.banniere_equipe{
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -5;
}

.banniere_equipe img{
   width:100%;
}
/*mise en forme des textes/rectangle*/
.rectangle_vert {
    background-color: #98d865; 
    text-align: center;
    margin-top: -4%;
}
.notre_equipe{
    font-size: 2.5em;
    text-transform:uppercase;
    color: white;
    padding:20px;
    margin-top: -110px;
    font-family: "Martel Sans", sans-serif;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    line-height: 1;
    padding: 12px 0px 6px 0px;
    margin: 30px 0px;
}
.description{
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}
.presentation{
    text-align: center;
}
/*Mise en forme des photos de l'équipe*/

.photos_equipe {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 2%;
}

.photo_equipe img{
    width: 200px;
    height: 300px;
}

.photo img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: #f2f2f4;
}
.photo img:hover{
    border-width: 5px;
    border-color: #98d865;
}
#description_marc{
    display: none;
}
#description_laura{
    display: none;
}
#description_claude{
    display: none;
}
.rectangle_description{
    padding: 10px;
    display: none;
}
