body {
    font-family: 'Noticia Text', serif; /*police "Noticia Text marquée l111 du code source*/
    background-color: #f2f2f4;
    margin: 0px;
    padding: 0px;
}

.rectangle_vert {
    background-color: #98d865;
    text-align: center;
    margin-top: -4%;
    
}


/*---------------DEFINITION DU DESIGN DU HEADER------------------------------------------------------------*/

header {
    background-color: #202226;
    /* Tapper "position: fixed;" fixe la barre du header qd scroll mais devient tout moche! xP*/
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header a {
    color:  #bbc3ce;
    text-decoration: none;
}

header a:hover { /*Les liens du header deviennent blancs au survol*/
    color: white;
}

header ul { 
    list-style: none; /*La liste du header n'a plus de puces*/
    padding-left:0; /*Enlève le retrait à gauche*/
    display: flex;
    flex-direction: row; /*En ligne (par défaut) mais tout à gauche*/
    justify-content: space-around; /*En ligne mais avec espaces autour*/ 
}

.menu_de_navigation {
    font-family: "Martel Sans", sans-serif;
    font-weight: bold;
}

/*---------------DEFINITION DU DESIGN DU FOOTER------------------------------------------------------------*/

footer {
    background-color: #202226;
    color: #bbc3ce; /*Pour que copyright s'affiche aussi en gris*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    color:  #bbc3ce;
    text-decoration: none;
}

footer a:hover { /*Les liens du footer deviennent ??? au survol*/
    color:white;
}

footer ul { 
    list-style: none; /*La liste du footer n'a plus de puces*/
    padding-left:0; /*Enlève le retrait à gauche*/
    
}

footer h3 {
    color: white;
    text-transform: uppercase;
}

footer p {
    font-size: 0.7em; /*Ecrire copyright en petit*/
    width: 100%;
}


#logo_facebook :hover { /*Chaque logo a une couleur differente au survol*/
    color: #4542f4;
}

#logo_twitter :hover {
    color: #04d5ed;
}

#logo_instagram :hover {
    color: #6a68e8;
}

#logo_pinterest :hover {
    color: #e82e2e;
}

#logo_youtube :hover {
    color: #e80404;
}

.fab fa-facebook-f :hover { /*Rendre le logo facebook bleu au survol --> ne fonctionne pas avec cet id! j'en créé un ds la balise a*/
    color: blue;
}

.plan_du_site {
   padding-left: 25%;
}

.suivez_nous {
    padding-right: 25%;
}

.logos {
    display: inline;
    margin: 5px;
}

h3 {
    font-family: "Martel Sans", sans-serif;
    font-weight: bold;
}

#numero {
    font-family: "Martel Sans", sans-serif;
    font-weight: bold;
}