.ban_produits img {
    width: 100%;

}

.ban_produits {
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -5;
    
}


.plats {
    
    font-size: 2.5em;
    text-transform:uppercase;
    color: white;
    padding:20px;
    font-family: "Martel Sans", sans-serif;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    line-height: 1;
    padding: 12px 0px 6px 0px;
    margin: 30px 0px;
}


/*------Mise en forme de la liste des plats---------------------*/

.liste_des_plats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    font-size: 0.9em;
    color:#494949;
    margin: 5% 0;
}

.burgers {
    width: 40%;
}

.salades {
    width: 40%;
}

.pizzas {
    width: 40%;
}

.vide {
    width: 40%;
}

.burgers ul {
    font-style: italic;
}

.salades ul {
    font-style: italic;
}

.pizzas ul {
    font-style: italic;
}

/*------Mise en forme des desserts et boissons---------------------*/

.desserts_et_boissons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    font-size: 0.9em;
    color:#494949;
    margin: 5% 0;
}

.desserts {
    width: 40%;
}

.boissons {
    width: 40%;
}

h2 {
    font-family: "Martel Sans", sans-serif;
}

.desserts ul {
    font-style: italic;
}

.boissons ul {
    font-style: italic;
}